@keyframes scale {
  100% {
    width: 56px;
    height: 56px;
    background-color: #f4f5f9;
    border: 1px solid #42567a;
  }
}

.Wheel__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.Wheel__sector {
  width: 293px;
  height: 56px;
  transform-origin: 0 50%;
  position: absolute;
  // border: 1px solid black;
}

.Wheel__sector_container {
  position: relative;
  left: calc(100% - 56px);
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Wheel__sector__circle {
  width: 4px;
  height: 4px;
  background-color: #42567a;
  border-radius: 50%;
}

.active {
  width: 56px;
  height: 56px;
  background-color: #f4f5f9;
  border: 1px solid #42567a;

  .Wheel__sector__circle__num {
    display: block;
  }
}

.activate {
  animation: 0.3s ease-in forwards scale;
  cursor: pointer;

  .Wheel__sector__circle__num {
    display: block;
  }
}

.hidden {
  display: none;
}

.Wheel__sector__circle__num {
  display: none;
  position: absolute;
  top: 13px;
  left: 22px;

  p {
    color: #42567a;
    font-family: PT Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
  }
}
