@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.App {
  position: absolute;
  width: 100vw;
  height: 100vh;
  right: 0;
  top: 0;
  background-size: 100%;
  background-color: #f4f5f9;
}

.App__container {
  position: absolute;
  margin-left: 320px;
  margin-right: 160px;
  width: 1440px;
  height: 100%;
}

.App__vertical_vector_layout {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.App__horizont_vector {
  position: absolute;
  height: 1px;
  width: 1440px;
  top: 480px;
  background-color: rgba($color: #42567a, $alpha: 0.1);
}

.App__color_vector {
  position: absolute;
  height: 120px;
  width: 5px;
  top: 177px;
  left: 0;
  background: linear-gradient(180deg, #3877ee -5%, #ef5da8 85%);
}

.App__circle_vector {
  $radius: 264px;
  position: absolute;
  top: 215px;
  left: calc(50% - $radius);
  width: $radius * 2;
  height: $radius * 2;
  border: 1px solid rgba($color: #42567a, $alpha: 0.1);
  border-radius: 50%;
}

.App__text_container {
  position: absolute;
  width: 353px;
  height: 134px;
  top: 170px;
  left: 80px;
  p {
    color: #42567a;
    margin: 0;
    font-family: PT Sans;
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0em;
    text-align: left;
  }
}

.App__date_container {
  position: absolute;
  top: 400px;
  left: 220px;
  width: 973px;
  display: flex;
  justify-content: space-between;
}

.App__slider {
  position: absolute;
  max-width: 100%;
  bottom: 104px;
}

.App__Wheel_container {
  position: absolute;
  top: 215px;
  left: 455px;
  width: 530px;
  height: 530px;
  z-index: 10;
}

@media (max-width: 580px) {
  .App__container {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
  }

  .App__vertical_vector_layout {
    display: none;
  }

  .App__color_vector {
    display: none;
  }

  .App__Wheel_container {
    display: none;
  }

  .App__horizont_vector {
    $w: 280px;
    position: absolute;
    height: 1px;
    width: $w;
    top: 293px;
    left: calc((100% - $w) / 2);
    background-color: rgba($color: #42567a, $alpha: 0.1);
  }

  .App__circle_vector {
    display: none;
  }

  .App__date_container {
    position: absolute;
    top: 163px;
    left: 0;
    width: 320px;
    display: flex;
    gap: 20px;
    justify-content: center;
  }

  .App__text_container {
    position: absolute;
    width: 123px;
    height: 134px;
    top: 59px;
    left: 20px;
    p {
      font-family: PT Sans;
      font-size: 20px;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
    }
  }

  .App__slider {
    position: absolute;
    max-width: 320px;
    height: 200px;
    top: 313px;
    left: 20px;
  }
}
